.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* .img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
} */